@charset "utf-8";
/* CSS Document */
/* 学生主页主体部分的尾部 */
.foot{width:100%; height:100px; background:rgba(73,146,233,1.00);color:white; position:absolute; top:1000px; line-height:40px; text-align:center;}

