@CHARSET "UTF-8";
*{
	margin:0;
	font-size:16px;
}
.whole{
	width:100%;
	margin:0 auto;
}
.head{
	margin:0 auto;
	width:100%;
	height:60px;
	background-color:rgba(185,205,235,0.54);
}
.body{width:100%;height:500px; margin-top:25px;}
.body .discript{
	width:230px;
	height:300px;
	padding-right:30px;
	
	border-right:1px solid #3CA1E9;
	margin-left:280px;
	float:left;
	margin-top:20px;
}

.body .login{
			 width:400px;
			 height:350px;
			 margin-right:300px;
			 float:right;}
			 
.footer222{
	width:100%;
	position:absolute;
	top:600px;
	margin:0 auto;
}